["client.cljs"
 "index.html"
 "level1.js"
 "level1.tmx"
 "player_jump.png"
 "player_stand.png"
 "player_walk1.png"
 "player_walk2.png"
 "player_walk3.png"
 "server.clj"
 "state.cljs"
 "tileSet.png"
 "utils.cljs"]
